Node-Red/artbot-project.json
[{"id":"17a56805.7a2008","type":"tab","label":"Art Project","disabled":false,"info":""},{"id":"ffb8bab8.d60ee8","type":"visual-recognition-v3","z":"17a56805.7a2008","name":"Tableau Classifier","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":1610,"y":420,"wires":[["331ed69a.217f8a"]]},{"id":"ae90de59.733d78","type":"visual-recognition-util-v3","z":"17a56805.7a2008","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":320,"y":80,"wires":[["20ce327c.93924e"]]},{"id":"f59a55e6.029d88","type":"inject","z":"17a56805.7a2008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["ae90de59.733d78"]]},{"id":"20ce327c.93924e","type":"debug","z":"17a56805.7a2008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":80,"wires":[]},{"id":"b057373c.1a4748","type":"change","z":"17a56805.7a2008","name":"Set to Tableau Classifier","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"TableauClassifier_1971340720","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":420,"wires":[["ffb8bab8.d60ee8"]]},{"id":"f2bba4b6.f55848","type":"comment","z":"17a56805.7a2008","name":"Get Tableau Classifier ID","info":"","x":150,"y":40,"wires":[]},{"id":"bd5754e0.f08ea8","type":"http in","z":"17a56805.7a2008","name":"Messenger Verification Webhook","url":"/artbot","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["8b38a364.2927f"]]},{"id":"8b38a364.2927f","type":"function","z":"17a56805.7a2008","name":"subscribe","func":"var mode = ''; \nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) { mode = msg.payload['hub.mode']; } \nif (msg.payload['hub.verify_token'])\n{ \n    vtoken = msg.payload['hub.verify_token']; \n    \n}\nif (msg.payload['hub.challenge']) { \n    challenge = msg.payload['hub.challenge']; \n    \n} \nif ('subscribe' == mode && 'torrinibot' == vtoken)\n{\n    msg.payload = challenge;\n    } \n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["3cff0597.d3632a","80c5df3e.84a178"]]},{"id":"3cff0597.d3632a","type":"http response","z":"17a56805.7a2008","name":"","statusCode":"","headers":{},"x":590,"y":260,"wires":[]},{"id":"80c5df3e.84a178","type":"debug","z":"17a56805.7a2008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":180,"wires":[]},{"id":"77b58f63.ee2df","type":"comment","z":"17a56805.7a2008","name":"Messenger Auth","info":"","x":120,"y":180,"wires":[]},{"id":"41bd17f6.05d0e8","type":"http in","z":"17a56805.7a2008","name":"Messenger chat listener","url":"/artbot","method":"post","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["8e79220e.61ac5","d55edcf7.2cfa18"]]},{"id":"8e79220e.61ac5","type":"function","z":"17a56805.7a2008","name":"listen","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id; \n            var timeOfEvent = entry[i].time;\n            var messaging = entry[i].messaging;\n            for (var j =0; j < messaging.length; j++) { if (messaging[j].message) { msg.messagingEvent = messaging[j];\nnode.send([msg,null]);\n} } } } } \nreturn [null,msg];","outputs":2,"noerr":0,"x":350,"y":500,"wires":[["92576051.86a608"],["6e365449.51573c"]]},{"id":"6e365449.51573c","type":"http response","z":"17a56805.7a2008","name":"","statusCode":"","headers":{},"x":510,"y":540,"wires":[]},{"id":"d55edcf7.2cfa18","type":"debug","z":"17a56805.7a2008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":420,"wires":[]},{"id":"92576051.86a608","type":"function","z":"17a56805.7a2008","name":"Find payload type","func":"msg.tester1 = msg.payload.entry[0].messaging[0].message.text;\nif (msg.tester1) {\n    msg.tester = \"text\";\n} else {\n    msg.tester = \"image\";\n}\nmsg.tester2 = msg.payload.entry[0].messaging[0].message.attachments;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":460,"wires":[["366488bc.eed9d"]]},{"id":"366488bc.eed9d","type":"switch","z":"17a56805.7a2008","name":"Case for an image or text","property":"tester","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":460,"wires":[["89c9cc3.35a523"],["26bd5af1.8d6bc6"]]},{"id":"c1b560ca.b0dee","type":"comment","z":"17a56805.7a2008","name":"Conversation Handler","info":"","x":140,"y":420,"wires":[]},{"id":"49a2fb51.bc19b4","type":"debug","z":"17a56805.7a2008","name":"messenger event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1350,"y":540,"wires":[]},{"id":"26bd5af1.8d6bc6","type":"function","z":"17a56805.7a2008","name":"Convert payload to string","func":"msg.payload=msg.payload.entry[0].messaging[0].message.text\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":500,"wires":[["49a2fb51.bc19b4","cd4cb43e.ced848"]]},{"id":"89c9cc3.35a523","type":"function","z":"17a56805.7a2008","name":"Convert payload to url","func":"msg.payload=msg.payload.entry[0].messaging[0].message.attachments[0].payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":420,"wires":[["b057373c.1a4748"]]},{"id":"d1ae907a.ff8c88","type":"debug","z":"17a56805.7a2008","name":"Reply to Messenger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2380,"y":460,"wires":[]},{"id":"e28051d3.b98648","type":"facebook-messenger-writer","z":"17a56805.7a2008","name":"Messenger Webhook","x":2120,"y":460,"wires":[["d1ae907a.ff8c88"]]},{"id":"cd4cb43e.ced848","type":"watson-assistant-v2","z":"17a56805.7a2008","name":"Tableau Chatbot","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"913c2bfe-5b22-407c-a89d-6555430aa45d","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":1620,"y":500,"wires":[["2d50214b.a4fade"]]},{"id":"dc5737df.5465c","type":"debug","z":"17a56805.7a2008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2070,"y":540,"wires":[]},{"id":"2d50214b.a4fade","type":"function","z":"17a56805.7a2008","name":"Text - Output Parser","func":"msg.payload = msg.payload.output.generic[0].text;\nmsg.facebookevent = msg.messagingEvent;\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":500,"wires":[["dc5737df.5465c","e28051d3.b98648"]]},{"id":"331ed69a.217f8a","type":"function","z":"17a56805.7a2008","name":"Vision - Output Parser","func":"let movement = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \"The paint sent is more likely to be from the \" + movement + \" movement.\";\nmsg.facebookevent = msg.messagingEvent;\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":420,"wires":[["e28051d3.b98648"]]},{"id":"8f46bd87.c5dc5","type":"comment","z":"17a56805.7a2008","name":"Path for an image","info":"","x":1070,"y":380,"wires":[]},{"id":"fdfc624a.92e07","type":"comment","z":"17a56805.7a2008","name":"Path for a string","info":"","x":1060,"y":540,"wires":[]},{"id":"e7d0e0bb.d7bf38","type":"comment","z":"17a56805.7a2008","name":"Sent all to Messenger","info":"","x":2120,"y":420,"wires":[]}]