Node-Red/test-integration-messenger.json
[{"id":"2f0e5727.d040a","type":"tab","label":"Test Messenger","disabled":false,"info":""},{"id":"df8206cc.52336","type":"http in","z":"2f0e5727.d040a","name":"Messenger Verification Webhook","url":"/mybot","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["ca34bbe6.05ca28"]]},{"id":"ca34bbe6.05ca28","type":"function","z":"2f0e5727.d040a","name":"subscribe","func":"var mode = ''; \nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) { mode = msg.payload['hub.mode']; } \nif (msg.payload['hub.verify_token'])\n{ \n    vtoken = msg.payload['hub.verify_token']; \n    \n}\nif (msg.payload['hub.challenge']) { \n    challenge = msg.payload['hub.challenge']; \n    \n} \nif ('subscribe' == mode && 'torrinibot' == vtoken)\n{\n    msg.payload = challenge;\n    } \n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["6218413d.9c146","8c66cfd6.8e1e98"]]},{"id":"6218413d.9c146","type":"http response","z":"2f0e5727.d040a","name":"","statusCode":"","headers":{},"x":670,"y":120,"wires":[]},{"id":"8c66cfd6.8e1e98","type":"debug","z":"2f0e5727.d040a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":40,"wires":[]},{"id":"88266b58.a1fa1","type":"http in","z":"2f0e5727.d040a","name":"Messenger chat listener","url":"/mybot","method":"post","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["1e85c19d.0bba6e","ef163639.1b2e88"]]},{"id":"1e85c19d.0bba6e","type":"function","z":"2f0e5727.d040a","name":"listen","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id; \n            var timeOfEvent = entry[i].time;\n            var messaging = entry[i].messaging;\n            for (var j =0; j < messaging.length; j++) { if (messaging[j].message) { msg.messagingEvent = messaging[j];\nnode.send([msg,null]);\n} } } } } \nreturn [null,msg];","outputs":2,"noerr":0,"x":330,"y":460,"wires":[["e87dfea5.405c9"],["2b02b87c.e7531"]]},{"id":"2b02b87c.e7531","type":"http response","z":"2f0e5727.d040a","name":"","statusCode":"","headers":{},"x":490,"y":500,"wires":[]},{"id":"d9c654d7.1e7b68","type":"debug","z":"2f0e5727.d040a","name":"messenger event","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":500,"wires":[]},{"id":"ef163639.1b2e88","type":"debug","z":"2f0e5727.d040a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":380,"wires":[]},{"id":"68ba2c1d.6a5b64","type":"function","z":"2f0e5727.d040a","name":"Convert payload to string","func":"msg.payload=msg.payload.entry[0].messaging[0].message.text\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["d9c654d7.1e7b68","2b0d22d8.ba5cb6"]]},{"id":"8e056b55.726ed8","type":"debug","z":"2f0e5727.d040a","name":"reply to facebook","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2510,"y":460,"wires":[]},{"id":"22d2408c.dcf3e8","type":"facebook-messenger-writer","z":"2f0e5727.d040a","name":"","x":2260,"y":460,"wires":[["8e056b55.726ed8"]]},{"id":"2b0d22d8.ba5cb6","type":"watson-assistant-v2","z":"2f0e5727.d040a","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"913c2bfe-5b22-407c-a89d-6555430aa45d","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":1510,"y":420,"wires":[["a5b98f1.86c3d7","9d0adc94.48d64"]]},{"id":"96a3fd83.d6d258","type":"debug","z":"2f0e5727.d040a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2010,"y":400,"wires":[]},{"id":"a5b98f1.86c3d7","type":"function","z":"2f0e5727.d040a","name":"Output Parser","func":"msg.complete_payload = msg.payload;\nmsg.payload = msg.payload.output.generic[0].text;\nmsg.facebookevent = msg.messagingEvent;\nmsg.intents = msg.complete_payload.output.intents;\nmsg.entities = msg.complete_payload.output.entities;\nmsg.test = \"test\";\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":440,"wires":[["96a3fd83.d6d258","22d2408c.dcf3e8"]]},{"id":"e87dfea5.405c9","type":"function","z":"2f0e5727.d040a","name":"Find payload type","func":"msg.tester1 = msg.payload.entry[0].messaging[0].message.text;\nif (msg.tester1) {\n    msg.tester = \"text\";\n} else {\n    msg.tester = \"image\";\n}\nmsg.tester2 = msg.payload.entry[0].messaging[0].message.attachments;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["9eb1b1d0.0d7a2"]]},{"id":"9eb1b1d0.0d7a2","type":"switch","z":"2f0e5727.d040a","name":"","property":"tester","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":420,"wires":[["1e79cd95.b841f2"],["68ba2c1d.6a5b64"]]},{"id":"1e79cd95.b841f2","type":"function","z":"2f0e5727.d040a","name":"Convert payload to url","func":"msg.payload=msg.payload.entry[0].messaging[0].message.attachments[0].payload.url;\nmsg.joli = \"joli\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["c100c200.82703","72cdcbc3.af4c64"]]},{"id":"c100c200.82703","type":"debug","z":"2f0e5727.d040a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"9df51149.182f9","type":"debug","z":"2f0e5727.d040a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2130,"y":260,"wires":[]},{"id":"f5a1930a.3536e8","type":"visual-recognition-v3","z":"2f0e5727.d040a","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":1630,"y":300,"wires":[["9df51149.182f9","24545e5.d140da2"]]},{"id":"72cdcbc3.af4c64","type":"change","z":"2f0e5727.d040a","name":"Set to Tableau Classifier","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"TableauClassifier_1971340720","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":300,"wires":[["f5a1930a.3536e8"]]},{"id":"24545e5.d140da2","type":"function","z":"2f0e5727.d040a","name":"","func":"let movement = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \"The paint sent is more likely to be from the \" + movement + \" movement.\";\nmsg.facebookevent = msg.messagingEvent;\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":320,"wires":[["22d2408c.dcf3e8"]]},{"id":"9d0adc94.48d64","type":"debug","z":"2f0e5727.d040a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1750,"y":560,"wires":[]}]