Node-Red/test-integration-chatbot.json
[{"id":"4f134ab4.8c4c2c","type":"tab","label":"Test Intégration ChatBot","disabled":false,"info":""},{"id":"7d2feb4f.4d9d04","type":"http in","z":"4f134ab4.8c4c2c","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["987148a0.35a3f"]]},{"id":"987148a0.35a3f","type":"template","z":"4f134ab4.8c4c2c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":290,"y":160,"wires":[["43b7dff0.42ccd8"]]},{"id":"43b7dff0.42ccd8","type":"http response","z":"4f134ab4.8c4c2c","name":"","statusCode":"","headers":{},"x":430,"y":160,"wires":[]},{"id":"5bde8907.2aa998","type":"inject","z":"4f134ab4.8c4c2c","name":"","topic":"","payload":"La peinture est  Rococo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["520c32dd.8beeec"]]},{"id":"30cddcd7.d5b14c","type":"debug","z":"4f134ab4.8c4c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":380,"wires":[]},{"id":"520c32dd.8beeec","type":"http request","z":"4f134ab4.8c4c2c","name":"Conversation Call","method":"POST","ret":"obj","paytoqs":false,"url":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/e12b2d48-d4a4-49c0-9d81-1f061300a4b2/message?version=2019-02-28","tls":"","proxy":"","authType":"basic","x":370,"y":400,"wires":[["30cddcd7.d5b14c","f8a43506.b66968"]]},{"id":"d2f8fa4b.3d6f58","type":"debug","z":"4f134ab4.8c4c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":660,"wires":[]},{"id":"31e9bbb0.56aa34","type":"http request","z":"4f134ab4.8c4c2c","name":"Conversation Call","method":"POST","ret":"obj","paytoqs":false,"url":"https://gateway.watsonplatform.net/assistant/api/v1/workspaces/e12b2d48-d4a4-49c0-9d81-1f061300a4b2/message?version=2019-02-28","tls":"","proxy":"","authType":"basic","x":510,"y":660,"wires":[["d2f8fa4b.3d6f58"]]},{"id":"f8a43506.b66968","type":"function","z":"4f134ab4.8c4c2c","name":"Context Keeper","func":"const context = msg.context;\n\nmsg.payload = {\n    \"input\": {\"text\": \"Can I know more about this movement?\"},\n    \"context\": context\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":560,"wires":[["fb56da93.f53878","31e9bbb0.56aa34"]]},{"id":"fb56da93.f53878","type":"debug","z":"4f134ab4.8c4c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":560,"wires":[]},{"id":"60d7f814.f9008","type":"template","z":"4f134ab4.8c4c2c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":350,"y":840,"wires":[["7d7501d3.ded548"]]},{"id":"a35ae2ef.dff74","type":"http in","z":"4f134ab4.8c4c2c","name":"","url":"/hello-query","method":"get","upload":false,"swaggerDoc":"","x":180,"y":840,"wires":[["60d7f814.f9008"]]},{"id":"7d7501d3.ded548","type":"http response","z":"4f134ab4.8c4c2c","name":"","statusCode":"","headers":{},"x":490,"y":840,"wires":[]},{"id":"3fd78347.9ea3f4","type":"http request","z":"4f134ab4.8c4c2c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":490,"y":960,"wires":[["e0d2fb37.e1b06"]]},{"id":"b6b2fa51.fbac18","type":"inject","z":"4f134ab4.8c4c2c","name":"cars on craigslist","topic":"","payload":"http://vancouver.craigslist.org/search/sss?format=rss&query=cars","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":960,"wires":[["526ce091.dc9d3"]]},{"id":"526ce091.dc9d3","type":"change","z":"4f134ab4.8c4c2c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":960,"wires":[["3fd78347.9ea3f4"]]},{"id":"e0d2fb37.e1b06","type":"debug","z":"4f134ab4.8c4c2c","name":"","active":true,"console":"false","complete":"false","x":650,"y":960,"wires":[]}]