Node-Red/test-integration-messenger.json
[{"id":"3127b64d.8d3562","type":"tab","label":"Test Messenger","disabled":false,"info":""},{"id":"494c814c.7958d","type":"http in","z":"3127b64d.8d3562","name":"Messenger Verification Webhook","url":"/mybot","method":"get","upload":false,"swaggerDoc":"","x":179,"y":445,"wires":[["d6b1d5e8.8c48f8"]]},{"id":"d6b1d5e8.8c48f8","type":"function","z":"3127b64d.8d3562","name":"subscribe","func":"var mode = ''; \nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) { mode = msg.payload['hub.mode']; } \nif (msg.payload['hub.verify_token'])\n{ \n    vtoken = msg.payload['hub.verify_token']; \n    \n}\nif (msg.payload['hub.challenge']) { \n    challenge = msg.payload['hub.challenge']; \n    \n} \nif ('subscribe' == mode && 'torrinibot' == vtoken)\n{\n    msg.payload = challenge;\n    } \n\nreturn msg;","outputs":1,"noerr":0,"x":438.5,"y":379,"wires":[["198f8b6d.3b9a25","37f0c607.6bce1a"]]},{"id":"198f8b6d.3b9a25","type":"http response","z":"3127b64d.8d3562","name":"","statusCode":"","headers":{},"x":678,"y":423,"wires":[]},{"id":"37f0c607.6bce1a","type":"debug","z":"3127b64d.8d3562","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":693.5,"y":343,"wires":[]},{"id":"d69f9e35.fb5628","type":"http in","z":"3127b64d.8d3562","name":"Messenger chat listener","url":"/mybot","method":"post","upload":false,"swaggerDoc":"","x":145,"y":501,"wires":[["a2900bef.605068","49a3ea52.140d94"]]},{"id":"a2900bef.605068","type":"function","z":"3127b64d.8d3562","name":"listen","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id; \n            var timeOfEvent = entry[i].time;\n            var messaging = entry[i].messaging;\n            for (var j =0; j < messaging.length; j++) { if (messaging[j].message) { msg.messagingEvent = messaging[j];\nnode.send([msg,null]);\n} } } } } \nreturn [null,msg];","outputs":2,"noerr":0,"x":424.5,"y":593,"wires":[["242ccc36.e76994"],["f206d200.4b8f28"]]},{"id":"f206d200.4b8f28","type":"http response","z":"3127b64d.8d3562","name":"","statusCode":"","headers":{},"x":692,"y":613,"wires":[]},{"id":"39c0b432.c6f534","type":"debug","z":"3127b64d.8d3562","name":"messenger event from messenger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":693.5,"y":482,"wires":[]},{"id":"49a3ea52.140d94","type":"debug","z":"3127b64d.8d3562","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":439.5,"y":470,"wires":[]},{"id":"242ccc36.e76994","type":"function","z":"3127b64d.8d3562","name":"","func":"msg.payload=msg.payload.entry[0].messaging[0].message.text\nreturn msg;","outputs":1,"noerr":0,"x":534.5,"y":545,"wires":[["39c0b432.c6f534","f345adad.73c22"]]},{"id":"728c1b8.fbdf3e4","type":"function","z":"3127b64d.8d3562","name":"","func":"//msg.facebookevent = msg.messagingEvent; \n//msg.payload = 'Hello, this is all I say for now.'; \nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[[]]},{"id":"3dd36f3.2a0451","type":"debug","z":"3127b64d.8d3562","name":"reply to facebook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":629,"y":699,"wires":[]},{"id":"f66575ae.befa6","type":"facebook-messenger-writer","z":"3127b64d.8d3562","name":"","x":551,"y":814,"wires":[["3dd36f3.2a0451"]]},{"id":"f345adad.73c22","type":"watson-assistant-v2","z":"3127b64d.8d3562","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"913c2bfe-5b22-407c-a89d-6555430aa45d","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":301.5,"y":104,"wires":[["a3a72da7.db5378"]]},{"id":"197971e6.edeaf6","type":"inject","z":"3127b64d.8d3562","name":"","topic":"","payload":"Hi!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146.5,"y":93,"wires":[["f345adad.73c22"]]},{"id":"8ef4a852.d7e5b8","type":"debug","z":"3127b64d.8d3562","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":733.5,"y":159,"wires":[]},{"id":"a3a72da7.db5378","type":"function","z":"3127b64d.8d3562","name":"Output Parser","func":"msg.payload = msg.payload.output.generic[0].text;\nmsg.facebookevent = msg.messagingEvent;\nreturn msg;","outputs":1,"noerr":0,"x":515.5,"y":158,"wires":[["8ef4a852.d7e5b8","f66575ae.befa6"]]}]